head
    title Books
body
    h2 All the books in the bookstore!
    br
    table(cellpadding="10")
        tr
            th Name
            th Price
            th More Info
        each book in books
            tr
                td #{book.name}
                td $#{book.price}
                td
                    a(href=book.url) click here to see
| I want to
|
a(href='login.html') purchase something
| !
br
br
a(href='admin_login') admin