doctype html
html
    head
        title validate
    body
        h3 Thank you #{name}
        p Your Order
        table(border='2', style='padding: 1in', cellpadding='2')
            tbody
                tr
                    td
                        b Book
                    td
                        b Quantity
                    td
                        b Unit Cost
                    td
                        b Total Cost
                each order in orders
                    tr
                        td(align='left') #{order.name}
                        td(align='right') #{order.quantity}
                        td(align='right') #{order.itemPrice}
                        td(align='right') #{order.totalPrice}

        p Total cost is #{totalCost}
        p
            br
            | Please enter your Credit Card information:
        form(method='post', action='confirm')
            table(border='0')
                tbody
                    tr
                        td Credit Card
                        td(width='92')
                            select(name='Creditcard' required)
                                option MasterCard
                                option Visa
                                option Amex
                    tr
                        td Card Number
                        td(width='92')
                            input(type='text' name='Cardnumber' pattern="[1-9][1-9]{3} [0-9]{4} [0-9]{4} [0-9]{4}"
                            size="19" title="Please enter card number separated by spaces" required)
                    tr
                        td Express Delivery
                        td(width='92')
                            input(type='checkbox', name='expressdelivery')
            input(type='submit', name='Purchase', value='Purchase')
            br
            a(href='/logout') LOGOUT
